// #intro { //intordution 관련 스타일
//     height: 100vh;
// }
.intro__inner { //introdution 타이틀 스타일
    // padding: 16px;
    // display: flex;
    // justify-content: space-between;

    // @media (max-width: 800px){ 
    //     flex-direction: column;
    // }

    // .intro__title {
    //     position: sticky;
    //     top: 70px;
    //     left: 0;
    //     width: 35%;
    //     height: 5vw;
    //     font-size: 4vw;
    //     font-weight: 900;
    //     line-height: 1.6;
    //     font-family: var(--mainKor-font);
    //     text-transform: uppercase;
    //     color: var(--black100);
    //     border-bottom: 0.4vw solid var(--black100);
    //     margin-bottom: 100px;
    //     padding-bottom: 5.5vw;

    //     @media (max-width: 800px){ 
    //         width: 100%;
    //         margin-bottom: 10vw;
    //         font-size: 30px;
    //         height: auto;
    //         top: 68px;
    //         z-index: 1000;
    //         background-color: var(--mainBg-color);
    //         padding-bottom: 0vw;
    //         padding-top: 5vw;
    //     }
        
    //     em {
    //         font-size: 1.25rem;
    //         font-weight: 400;
    //         line-height: 2;
    //     }
    // }
    // .intro__wrap {
    //     width: 70%;

    //     @media (max-width: 800px){ 
    //         width: 100%;
    //     }


    padding: 16px;

    .intro__title {
        position: sticky;
        top: 70px;
        left: 0;
        height: 5vw;
        font-size: 4vw;
        font-weight: 900;
        line-height: 1.6;
        font-family: var(--mainKor-font);
        text-transform: uppercase;
        color: var(--black100);
        border-bottom: 0.5vw solid var(--black100);
        margin-bottom: 100px;
        padding-bottom: 5.5vw;
        width: 100%;
        z-index: 1000;
        background-color: var(--mainBg-color);

        @media (max-width: 800px){ 
            width: 100%;
            margin-bottom: 10vw;
            font-size: 30px;
            height: auto;
            top: 68px;
            z-index: 1000;
            background-color: var(--mainBg-color);
            padding-bottom: 0vw;
        }

        em {
            font-size: 1.25rem;
            font-weight: 400;
            line-height: 2;
        }
    }
    .intro__wrap {
        // height: 70vh;
        display: flex;
        @include flex-center;
        // flex-direction: column;
        position: sticky;
        left: 0;
        .intro__content {
            div {
                display: flex;
                img {
                    height: 16px;
                    width: 16px;
                    padding: 1px;
                }
                #phni{
                    overflow: hidden; 
                    height: 24px;
                    width: 24px;
                }
            }
        }
    }
//     .intro__text {
//         width: 100%;
//         height: 40vh;
//         background-color: var(--black);
//         color: var(--white);
//         display: flex;
//         align-items: center;
//         justify-content: center;
//         flex-direction: column;
//         position: relative;

//         .text {
//             font-size: 3vw;
//             line-height: 1;
//             font-weight: 900;
//             text-transform: uppercase;
//             text-decoration: underline;
//             text-align: center;
//             position: relative;
//             z-index: 100;
//             transition: all 0.3s;
//             cursor: all-scroll;

//             @media (max-width: 800px){ 
//                 font-size: 24px;
//             }
//         }
//         .img {
//             position: absolute;
//             left: 50%;
//             top: 50%;
//             transform: translate(-50%, -50%);
//             width: 30vh;
//             height: 30vh;
//             border-radius: 50%;
//             overflow: hidden;
//             filter: grayscale(100%);
//             transition: all 0.3s;

//             @media (max-width: 320px){ 
//                 width: 20vh;
//                 height: 20vh;
//             }
//         }

//         &:hover .text {
//             opacity: 0;
//         }
//         &:hover .img {
//             filter: grayscale(0);
//         }
//     }
//     .intro__lines {
//         width: 100%;

//         .line {
//             display: block;
//             width: 100%;
//             height: 1px;
//             background-color: var(--black);
//             margin-bottom: 0.5vw;

//             &:nth-child(1){
//                 height: 1px;
//             }
//             &:nth-child(2){
//                 height: 2px;
//             }
//             &:nth-child(3){
//                 height: 5px;
//             }
//             &:nth-child(4){
//                 height: 9px;
//             }
//             &:nth-child(5){
//                 height: 13px;
//             }
//             &:nth-child(6){
//                 height: 17px;
//             }
//             &:nth-child(7){
//                 height: 25px;
//             }
//         }

//         &.bottom {
//             .line {
//                 margin-top: 0.5vw;
//                 margin-bottom: 0;
//                 display: none;

//                 @media (max-width: 800px){ 
//                     display: block;
//                 }

//                 &:nth-child(1){
//                     height: 25px;
//                 }
//                 &:nth-child(2){
//                     height: 17px;
//                 }
//                 &:nth-child(3){
//                     height: 13px;
//                 }
//                 &:nth-child(4){
//                     height: 9px;
//                 }
//                 &:nth-child(5){
//                     height: 5px;
//                 }
//                 &:nth-child(6){
//                     height: 2px;
//                 }
//                 &:nth-child(7){
//                     height: 1px;
//                 }
//             }
//         }
//     }
}