// #intro { //intordution 관련 스타일
//     height: 100vh;
// }
.intro__inner { //introdution 타이틀 스타일
    // padding: 16px;
    // display: flex;
    // justify-content: space-between;

    // @media (max-width: 800px){ 
    //     flex-direction: column;
    // }

    // .intro__title {
    //     position: sticky;
    //     top: 70px;
    //     left: 0;
    //     width: 35%;
    //     height: 5vw;
    //     font-size: 4vw;
    //     font-weight: 900;
    //     line-height: 1.6;
    //     font-family: var(--mainKor-font);
    //     text-transform: uppercase;
    //     color: var(--black100);
    //     border-bottom: 0.4vw solid var(--black100);
    //     margin-bottom: 100px;
    //     padding-bottom: 5.5vw;

    //     @media (max-width: 800px){ 
    //         width: 100%;
    //         margin-bottom: 10vw;
    //         font-size: 30px;
    //         height: auto;
    //         top: 68px;
    //         z-index: 1000;
    //         background-color: var(--mainBg-color);
    //         padding-bottom: 0vw;
    //         padding-top: 5vw;
    //     }
        
    //     em {
    //         font-size: 1.25rem;
    //         font-weight: 400;
    //         line-height: 2;
    //     }
    // }
    // .intro__wrap {
    //     width: 70%;

    //     @media (max-width: 800px){ 
    //         width: 100%;
    //     }


    
    padding: 16px;
    padding-top: 40px;
    @media (max-width: 800px){ 
        padding-top: 0px;
    }
    .intro__title {
        // position: sticky;
        // padding-top: 40px;
        top: 80px;
        left: 0;
        height: 5vw;
        font-size: 4vw;
        font-weight: 900;
        line-height: 1.6;
        font-family: var(--mainKor-font);
        text-transform: uppercase;
        color: var(--black100);
        border-bottom: 0.5vw solid var(--black100);
        margin-bottom: 100px;
        padding-bottom: 5.5vw;
        width: 100%;
        z-index: 1000;

        @media (max-width: 800px){ 
            position: sticky;
            width: 100%;
            margin-bottom: 10vw;
            font-size: 30px;
            height: auto;
            top: 68px;
            z-index: 1000;
            background-color: var(--main_blue_100);
            padding-bottom: 0vw;
        }

        em {
            font-size: 1.25rem;
            font-weight: 400;
            line-height: 2;
        }
    }
    .intro__wrap {
        padding-left: 120px;
        // height: 70vh;
        display: flex;
        // @include flex-center;
        @media (max-width: 800px){
            padding-left: 0px;
            @include flex-center;
        }
        // flex-direction: column;
        position: sticky;
        left: 0;
        .intro__img{
            width:160px;
            border-radius: 15px;
            overflow: hidden;
            margin-right:15px;
            border: 2px solid #ddd;
        }
        .intro__content {
            font-size: 1.3rem;
            h1{
                margin-bottom : 10px;
                font-weight: 600;
            }
            div {
                display: flex;
                margin-bottom : 10px;
                img {
                    height: 24px;
                    width: 24px;
                    padding: 1px;
                }
                #phni{
                    overflow: hidden; 
                    transform: scale(1.6)
                }
            }
        }
    }
    .ant-divider {
        font-size: 1.5rem; /* 글자 크기 설정 */
        font-weight: bold; /* 글자 굵기 설정 */
    }
    .intro__intoduce{
        font-size: 1.4rem;
        padding-left: 100px;
        padding-right: 100px;
    }
    .ant-btn-primary {
        // position: absolute;
        padding-left: 50px;
        // display: block; /* 버튼을 테이블과 같은 줄로 정렬 */
        margin-left: 50px; /* 부모 요소의 왼쪽과 정렬 */
        margin-top: 20px; /* 버튼과 표 사이 간격 */
        padding: 15px 50px;
        font-size: 1rem;
        font-weight: 500;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        background-color: #007bff;
        color: #fff;
        transition: all 0.3s ease-in-out;

        &:hover {
          background-color: #0056b3;
        }
      }
}